ul{
    list-style: none;
}
.s-editor-core-wrapper {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #ccc;
    position: relative;
}

.fields .s-editor-core-wrapper {
    border: 1px solid #ccc;
    margin-top: 0;
}
.s-wysiwyg-html-toggle,
.s-page-wysiwyg-html-toggle { position: absolute; top: -1px; right: 17px; margin-bottom: 0; }
.s-wysiwyg-html-toggle li,
.s-page-wysiwyg-html-toggle li { list-style: none;float: left; }
.s-wysiwyg-html-toggle li a, .s-page-wysiwyg-html-toggle li a { display: block; color: #888; font-weight: bold; padding: 4px 12px 4px; text-decoration: none; font-size: 0.9em; }
.s-wysiwyg-html-toggle li.selected, .s-page-wysiwyg-html-toggle li.selected { background: #fff; padding-bottom: 1px; border: 1px solid #ccc; border-bottom: 0;  }
.s-wysiwyg-html-toggle {top: -34px}
.wa-editor-core-wrapper .s-wysiwyg-html-toggle {top: -1px}

.error-msg{
    color:red;
    font-weight: bold;
}
.success-msg{
    color: green;
    font-weight: bold;
}

#form-fiels-table td{
    vertical-align: top;
    
}

table.zebra a{
    display: inline-block;
}
.field-values{
    display: none;
}
.field-values ul{
    margin-top: 10px;
    padding: 0px;
}
.field-values ul li{
    margin-top: 5px;
}
