<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
        {$wa->css()}

        <link href="{$wa_app_static_url}css/wforms.css?v{$wa->version()}" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.core.js"></script>
        <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.dialog.js"></script>
        <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.history.js"></script>
        <script type="text/javascript" src="{$wa_app_static_url}js/wforms.js"></script>	




        <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="{$wa_url}wa-content/js/ace/ace.js"></script>
        <script type="text/javascript" src="{$wa_url}wa-content/js/elrte/elrte.min.js"></script>
        <script type="text/javascript" src="{$wa_url}wa-content/js/elrte/elrte-wa.js"></script>
        {if $lang != 'en'}
            <script type="text/javascript" src="{$wa_url}wa-content/js/elrte/i18n/elrte.{$lang}.js"></script>
        {/if}
        <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.elrte.ace.js"></script>
        <link type="text/css" rel="stylesheet" href="{$wa_url}wa-content/js/redactor/redactor.css">
        <script src="{$wa_url}wa-content/js/redactor/redactor.min.js"></script>
        {if $lang!='en'}<script src="{$wa_url}wa-content/js/redactor/{$lang}.js"></script>{/if}
        <script src="{$wa_url}wa-content/js/jquery-wa/editor.js?v{$wa->version()}"></script>
    </head>
    <body>
        <div id="wa">
            {$wa->header()}
            <div id="wa-app">
                <div class="sidebar left200px">


                    <div class="block">

                        <ul class="menu-v with-icons compact">

                            <li>
                                <a class="bold" href="#/"><i class="icon16 folder"></i>[`All forms`]</a>
                            </li>
                            <li>
                                <a id="form-add-link" href="#" class="bold no-underline">
                                    <i class="icon16 add"></i>[`Add form`]
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="block">
                        <h5 class="heading"><b>[`Forms`]</b></h5>

                        <ul class="menu-v with-icons form-list">
                            {foreach $forms as $form}
                                <li id="wform-{$form.id}">
                                    <a href="#/form/{$form.id}/"><i class="icon16 folder"></i><b>{$form.title}</b></a>
                                    <a class="delete-form" data-id="{$form.id}" href="#"><i class="icon16 delete"></i></a>
                                </li>
                            {/foreach}
                        </ul>	
                    </div>

                </div>
                <div class="content left200px" id="c-core">
                    <div class="block not-padded c-core-content" id="content">
                        <div class="block">
                            <h1 class="wa-page-heading">[`Loading...`]</h1>
                        </div>				
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var wa_app = '{$wa_url}';
            var wa_url = '{$wa_url}';
            var wa_lang = '{$lang}';
            $.wforms.init();
        </script>
        {literal}
            <script id="form-list-li-tmpl" type="text/x-jquery-tmpl">
                <li id="wform-${id}">
                <a href="#/form/${id}/"><i class="icon16 folder"></i><b>${title}</b></a>
                <a class="delete-form" data-id="${id}" href="#"><i class="icon16 delete"></i></a>
                </li>
            </script>
            <script id="form-list-tr-tmpl" type="text/x-jquery-tmpl">
                <tr class="form-row" data-id="${id}">
                <td>{$wa->wforms->getHtmlForm(${id})}</td>
                <td>${title}</td>
                <td>${description}</td>
                <td>${to}</td>
                <td>${from}</td>
                <td>
                {{if enabled == '1'}}
                <i class="icon10 status-green"></i>
                {{else}}
                <i class="icon10 status-red"></i>
                {{/if}}
                </td>
                <td>
                <div class="control-buttons">
                <a href="#/form/${id}/"><i class="icon16 edit"></i>{/literal}[`Edit`]{literal}</a>
                <a href="#" data-id="${id}" class="delete-form"><i class="icon16 cross"></i>{/literal}[`Delete`]{literal}</a>
                </div>
                </td>
                </tr>
            </script>

        {/literal}
    </body>
</html>
