<script src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.sortable.min.js"></script>

<h1>[`Edit form`] <a title="[`Delete`]" class="delete-form" data-id="{$form.id}" href="#"><i class="icon16 delete"></i></a></h1>
<p></p>
<form id="edit-form" method="post" action="?action=saveForm" enctype="multipart/form-data" >
    <div class="fields form">
        <input type="hidden" id="form-id" value="{$form.id}" name="form[id]">

        <div class="field-group">
            <div class="field">
                <div class="name">[`Title`]</div>
                <div class="value">
                    <input type="text" value="{$form.title|escape}" class="large long" name="form[title]">
                </div>
            </div>
            <div class="field">
                <div class="name">[`To`]</div>
                <div class="value">
                    <input type="text" value="{$form.to|escape}" class="large long" name="form[to]">
                </div>
            </div>
            <div class="field">
                <div class="name">[`From`]</div>
                <div class="value">
                    <input type="text" value="{$form.from|escape}" class="large long" name="form[from]">
                </div>
            </div>
        </div>
        <div class="field-group">
            <div class="field">
                <div class="name">[`Enabled`]</div>
                <div class="value">
                    <input type="hidden"  value="0" name="form[enabled]">
                    <input type="checkbox" {if $form.enabled}checked="checked"{/if} value="1" name="form[enabled]">
                </div>
            </div>
        </div>
        <div class="field-group" style="min-width: 600px;">
            <div class="field description">
                <div class="name">
                    <label for="description">
                        [`Description`]
                    </label>
                </div>
                <div class="value">
                    <i class="icon16 loading"></i>
                    <div class="s-editor-core-wrapper wa-editor-core-wrapper" style="display:none;">
                        <ul class="wa-editor-wysiwyg-html-toggle s-wysiwyg-html-toggle">
                            <li class="selected"><a class="wysiwyg" href="#">[s`WYSIWYG`]</a></li>
                            <li><a class="html" href="#">HTML</a></li>
                        </ul>
                        <div>
                            <textarea style="display:none" id="form-description-content" name="form[description]">{$form.description|escape}</textarea>
                            <div class="ace">
                                <div id="wa-ace-editor-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>

        <div class="field-group">
            <div class="field">
                <div class="name">[`Form fields`]</div>
                <div class="value">
                    <table id="form-fiels-table" class="zebra full-width ui-sortable">
                        <thead>
                            <tr class="header">
                                <th class="min-width">&nbsp;</th>
                                <th>[`Name`]</th>
                                <th>[`Hint`]</th>
                                <th>[`Default value`]</th>
                                <th>[`Type and values`]</th>
                                <th>[`Required`]</th>
                                <th colspan="2">&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody style="vertical-align: top !important;">
                            {foreach $fields as $field}
                                <tr class="field-row" data-id="{$field.id}">
                                    <td><i class="icon16 sort tr-sortable-handle"></i></td>
                                    <td>{$field.name|escape}</td>
                                    <td>{$field.hint|escape}</td>
                                    <td>{$field.default_value|escape}</td>
                                    <td>
                                        {$field_types[$field.type]}
                                        <ul>
                                            {foreach $field.values as $value}
                                                <li>
                                                    {if $value.value}
                                                        <i class="icon10 status-green"></i>
                                                    {else}
                                                        <i class="icon10 status-red"></i>
                                                    {/if}
                                                    {$value.name}
                                                </li>
                                            {/foreach}
                                        </ul>
                                    </td>
                                    <td>
                                        {if $field.required}
                                            [`Yes`]
                                        {else}
                                            [`No`]
                                        {/if}
                                    </td>
                                    <td>
                                        <div class="control-buttons">
                                            <a href="#" class="edit-but"><i class="icon16 edit"></i>[`Edit`]</a>
                                            <a href="#" class="delete-but"><i class="icon16 cross"></i>[`Delete`]</a>
                                        </div>
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                    <a href="#/addField/" class="js-action"><i class="icon16 add"></i>[`Add`]</a>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="[`Save`]">
                <span class="response"></span>
            </div>
        </div>
    </div>
</form>

{literal}
    <script id="field-tmpl" type="text/x-jquery-tmpl">
        <tr class="field-row" data-id="${id}">
        <td><i class="icon16 sort"></i></td>
        <td>${name}</td>
        <td>${hint}</td>
        <td>${default_value}</td>
        <td>
        ${type}
        <ul>
        {{each values}}
        <li>
        {{if $value.value == '1'}}
        <i class="icon10 status-green"></i>
        {{else}}
        <i class="icon10 status-red"></i>
        {{/if}}
        ${$value.name}
        </li>
        {{/each}}
        </ul>
        </td>
        <td>${required}</td>
        <td>
        <div class="control-buttons">
    {/literal}
        <a href="#" class="edit-but"><i class="icon16 edit"></i>[`Edit`]</a>
        <a href="#" class="delete-but"><i class="icon16 cross"></i>[`Delete`]</a>
    {literal}
        </div>
        </td>
        </tr>
    </script>
    <script id="add-edit-field-tmpl" type="text/x-jquery-tmpl">
        <tr class="field-row add-edit-field">
        <td><i class="icon16 sort"></i></td>
        <td>
        <input type="hidden" value="${id}" name="field[id]" />
        <input type="hidden" value="${form_id}" name="field[form_id]" />
        <input type="text" value="${name}" name="field[name]" />
        </td>
        <td>
        <input type="text" value="${hint}" name="field[hint]" />
        </td>
        <td>
        <input type="text" value="${default_value}" name="field[default_value]" />
        </td>
        <td>
        <select class="field-type" name="field[type]">
        {{each field_types}}
        <option {{if type == $index}}selected="selected"{{/if}} value="${$index}">${$value}</option>
        {{/each}}
        </select>

        <div class="field-values">
        <ul>

        {{if type == 'checkboxes' || type == 'select_multiple'}}

        {{each values}}
        <li>
        <i class="icon16 sort"></i>
        <input type="hidden" name="field[values][id][]" value="${$value.id}" />
        <input class="switch-item" type="hidden" name="field[values][value][]" value="0" {{if $value.value == '1'}}disabled="disabled"{{/if}} />
        <input class="switch-item" type="checkbox" name="field[values][value][]" value="1" {{if $value.value == '1'}}checked="checked"{{/if}} />
        <input type="text" name="field[values][name][]" value="${$value.name}" />
        <a class="delete-field-value-but" href="#"><i class="icon10 delete"></i></a>
        </li>
        {{/each}}
        {{else}}
        {{if type == 'radio' || type == 'select'}}

        {{each values}}
        <li>
        <i class="icon16 sort"></i>
        <input type="hidden" name="field[values][id][]" value="${$value.id}" />
        <input class="switch-item" type="hidden" name="field[values][value][]" value="0" {{if $value.value == '1'}}disabled="disabled"{{/if}} />
        <input class="switch-item" type="radio" name="field[values][value][]" value="1" {{if $value.value == '1'}}checked="checked"{{/if}} />
        <input type="text" name="field[values][name][]" value="${$value.name}" />
        <a class="delete-field-value-but" href="#"><i class="icon10 delete"></i></a>
        </li>
        {{/each}}
        {{/if}}

        {{/if}}
{/literal}
        </ul>
        <a class="add-field-value-but" href="#"><i class="icon10 add"></i>[`Add value`]</a>
        </div>
{literal}
        </td>
        <td>
        <input type="hidden" value="0" name="field[required]" />
        <input type="checkbox" {{if required == '1'}}checked="checked"{{/if}} value="1" name="field[required]" />
        </td>
        <td>
        <div class="control-buttons">
        <a class="save-field-but" href="#"><i class="icon16 yes"></i>[`Save`]</a>
        </div>
        </td>
        </tr>
    </script>
    <script id="type-checkboxes-field-tmpl" type="text/x-jquery-tmpl">
        <li>
        <input type="hidden" name="field[values][id][]" value="" />
        <input class="switch-item" type="hidden" name="field[values][value][]" value="0" />
        <input class="switch-item" type="checkbox" name="field[values][value][]" value="1" />
        <input type="text" name="field[values][name][]">
        <a class="delete-field-value-but" href="#"><i class="icon10 delete"></i></a>
        </li>
    </script>
    <script id="type-radio-field-tmpl" type="text/x-jquery-tmpl">
        <li>
        <input type="hidden" name="field[values][id][]" value="" />
        <input class="switch-item" type="hidden" name="field[values][value][]" value="0" />
        <input class="switch-item" type="radio" name="field[values][value][]" value="1" />
        <input type="text" name="field[values][name][]">
        <a class="delete-field-value-but" href="#"><i class="icon10 delete"></i></a>
        </li>
    </script>
{/literal}

<script type="text/javascript" src="{$wa_app_static_url}js/form.js"></script>	
<script type="text/javascript">
var field_types = $.parseJSON('{json_encode($field_types)}');
$.wforms_form.init({
    form_id: {$form.id},
    field_types: field_types
});
</script>
